html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.title {
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: normal;
    height:2.5em;
}

.circle{
    height: 1em;
    width: 1em;
    border-radius: 50%
}

.avaible{
    background-color: forestgreen;
}

.notAvaible{
    background-color: lightgrey;
}

.img-container {
    aspect-ratio: auto;
    height: 20em
}

.img-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}